/*Poppins font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Dancing Scrpt font*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
/*Pacifico font*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    list-style: none;
}

body{
    height: 100%;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 90px;
    background-color: antiquewhite;
}

.header-logo{
    width: 300px;
}

.header-logo a{
    text-decoration: none;
    cursor: pointer;
}

.header-logo h2{
    padding-left: 25px;
    color: orangered;
    font-family: Dancing Script;
    font-weight: 700;
    font-size: xx-large;
}

.header-navbar{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.header-nav ul li{
    list-style: none;
    display: inline;
    padding-right: 15px;
}

.header-nav a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: font-size 0.3s ease;
}

.header-nav a:hover{
    cursor: pointer;
    font-size: 19px;
}

.header-signup{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: orangered;
}

.header-signup button{
    width: fit-content;
    margin: 0 20px;
    border-radius: 10px;
    border: none;
    padding: 5px 3px;
    background-color: orangered;
    color: white;
    transition: transform 0.3s ease;
}

.header-signup button:hover{
    transform: scale(1.2);
}

/*----------SEARCH-SECTION---------*/

.search-section{
    height: 250px;
    background-color: rgb(4, 115, 171);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: auto;
}

.search-section h1{
    font-weight: 500;
    font-size: 40px;
    color: white;
}

.search-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form input{
    height: 38px;
    width: 500px;
    border-radius: 10px;
    border: none;
    margin: 20px 10px;
    font-size: 16px;
}

.search-form button{
    height: 40px;
    width: 100px;
    margin: 0 10px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: orangered;
    color: white;
    transition: transform 0.3s ease;
}

.search-form button:hover{
    transform: scale(1.2);
}

.search-section p{
    font-weight: 300;
    font-size: 20px;
    color: white;
}

.search-section p a{
    color: black;
}
/*--------OPPORTUNITIES-SECTION----*/

.opportunities-section{
    height: fit-content;
    background-color: rgb(230, 242, 243);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.opportunities-section h1{
    font-weight: 500;
    font-size: 30px;
    color: rgb(4, 115, 171);
}
.opportunities-wrapper{
    position: relative;
    width: 90%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.opportunities-container{
    overflow: hidden;
    flex-grow: 1;
}

.opportunity-slider{
    display: flex;
    transition: 0.5s ease-in-out;
    /*overflow: hidden;*/
}

.opportunity-slide{
    display: flex;

}

.prev, .next{
    background-color: transparent;
    color: rgb(4, 115, 171);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
    width: 40px;
    height: 40px;
    display: flex;
}
.prev{
    margin-right: 10px;
}

.next{
    margin-left: 10px;
}

.opportunity-card{
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px 10px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    transition: max-height 0.3s ease;
    max-height: fit-content;
    max-width: 250px;
    min-width: 250px;
}

.opportunity-card-template{
    display: none;
}

.opportunity-card h3{
    color:  rgb(4, 115, 171);
}

.opportunity-details{
    display: none;
    margin-top: 10px;
    margin-bottom: 15px;
}

.opportunity-card.expanded .opportunity-details{
    display: block;
}

.opportunity-img{
    width: 100%;
    height: 40%;
    overflow: hidden;
}
.opportunity-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
}

.view-all-opportunities{
    width: fit-content;
    height: 40px;
    font-size: 20px;
    background-color: orangered;
    color: white;
    border-radius: 25px;
    border: none;
    padding: 0 15px;
    margin-top: 15px;
    transition: transform 0.3s ease;
}

.view-all-opportunities:hover{
    transform: scale(1.2);
}

/*----------CALL-TO-ACTION---------*/

.call-to-action{
    background-color: rgb(4, 115, 171);
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.call-to-action h2{
    font-weight: 500;
    font-size: 30px;
    color: #ccc;
}

.call-to-action p{
    width: 50%;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    color: #ccc;
}

.call-to-action button{
    width: 150px;
    height: 40px;
    font-size: 20px;
    background-color: orangered;
    color: white;
    border-radius: 25px;
    border: none;
    transition: transform 0.3s ease;
}

.call-to-action button:hover{
    transform: scale(1.2);
}

/*-------ORGANIZATIONS-SECTION-----*/
.organizations-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.org-wrapper{
    width: 100%;
    
    overflow: hidden;
    position: relative;
}

.org-slider-container{
    display: flex;
    justify-content: center;
}

.org-slider{
    display: flex;
    transition: transform 1s ease-in-out;
}

.org-slide{
    max-width: 120px;
    margin: 0 10px;
    text-align: center;
}

.org-slide img{
    width: 100%;
    height: auto;
}

.organization-conrainer{
    width: 150px;
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 10px;
    background-color: white;
}

.organization-conrainer img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;

}

/*----------COMMUNITY-SECTION------*/
.community-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.community-img{
    max-width: 100%;
    overflow: hidden;
    text-align: center;

}
.community-img img{
    max-width: 100%;
    height: auto;
}

.community-section h1{
    font-weight: 500;
    font-size: 25px;
    color: orangered;
    margin: 30px 0;
    font-family: Dancing Script;
}

/*----------FOOTER-STYLES----------*/

footer{
    height: 200px;
    background-color: rgb(4, 115, 171);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer-icons a{
    margin: 10px;
}

.footer-icons img:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.footer-links a{
    text-decoration: none;
    color: black;
}

.footer-links li:not(:last-child)::after{
    content: "|";
    margin-left: 10px;
    color: black
}

.footer-links ul li{
    list-style: none;
    display: inline;
    padding-right: 15px;
}

.footer-copyright{
    color: darkgray;
}