/*Poppins font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Dancing Scrpt font*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
/*Pacifico font*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&display=swap');

/*----------Header styles--------*/
*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    list-style: none;
}

body{
    height: 100%;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 90px;
    background-color: antiquewhite;
}

.header-logo{
    width: 300px;
}

.header-logo a{
    text-decoration: none;
    cursor: pointer;
}

.header-logo h2{
    padding-left: 25px;
    color: orangered;
    font-family: Dancing Script;
    font-weight: 700;
    font-size: xx-large;
}

.header-navbar{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.header-nav ul li{
    list-style: none;
    display: inline;
    padding-right: 15px;
}

.header-nav a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: font-size 0.3s ease;
}

.header-nav a:hover{
    cursor: pointer;
    font-size: 19px;
}

.header-signup{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: orangered;
}

.header-signup button{
    width: fit-content;
    margin: 0 20px;
    border-radius: 10px;
    border: none;
    padding: 5px 3px;
    background-color: orangered;
    color: white;
    transition: transform 0.3s ease;
}

.header-signup button:hover{
    transform: scale(1.2);
}
/*----------MAIN-STYLES------------*/

main{
    display: flex;
}

.signup-container{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.signup-container h1{
    margin-top: 50px;
    margin-bottom: 20px;
    color: rgb(4, 115, 171);
}

.user{
    color: orangered;
}

.user select, option{
    color: rgb(4, 115, 171);
}

.form-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-field{
    width: 85%;
    background: rgb(161, 198, 217);
    margin: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.input-field input{
    flex: 1;
    background: transparent;
    border-radius: 0 15px 15px 0;
    border: none;
    padding: 10px;
}

.input-field i{
    margin-left: 10px;
}

.form-container button{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 20px;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 15px;
    font-size: large;
    background-color: orangered;
    color: white;
}

.signup-container h3{
    font-weight: 300;
    font-size: 14px;
}

.signup-container a{
    font-weight: 400;
}

.volunteering-image{
    width: 70%;
    height: 100vh;
    background-image: url(../images/volunteering.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.form-container{
    display: none;
}

.form-container.active{
    display: block;
}

/*----------FOOTER-STYLES----------*/

footer{
    height: 200px;
    background-color: rgb(4, 115, 171);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer-icons a{
    margin: 10px;
}

.footer-links a{
    text-decoration: none;
    color: black;
}

.footer-links li:not(:last-child)::after{
    content: "|";
    margin-left: 10px;
    color: black
}

.footer-links ul li{
    list-style: none;
    display: inline;
    padding-right: 15px;
}

.footer-copyright{
    color: gray;
}

/*------NOTIFICATION-CONTAINER---

.notification-container{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.notification {
    display: flex;
    align-items: center;
    background-color: blue;
    color: white;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 1 2px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.notification.show{
    opacity: 1;
}
*/
